*.bak
configs/0-common/fastd/gw-errai_old
configs/0-common/fastd/gw-naos_old
configs/pegol_OVH
.~lock.GW-Datentabelle.ods#
configs/baldur/copy von iptables.txt
IP-Ranges 2020-06-28.pdf
GW-Datentabelle.ods
